# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest & caches
.pytest_cache/

# Virtual Environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/
